.password_content{
    height: 700px;
    padding: 100px 0;
    box-sizing: border-box;
}

.password_content .password_box,
.password_content .password_box_two,
.password_content .password_box_three{
    width: 701px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
}

.password_content .password_box_two,
.password_content .password_box_three{
    display: none;
}

.password_content .top{
    padding: 80px 145px;
}

.password_content .top ul{
    display: flex;
    position: relative;
}

.password_content .top ul li{
    width: 60px;
    margin: 0 40px;
}

.password_content .top ul li i{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 12px;
    border: 1px solid #D82335;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 27px;
    font-weight: 700;
    color: #F3A5AD;
    text-align: center;
}

.password_content .top .li_reset,
.password_content .top .li_finish{
    border-color: #ccc;
    color: #ccc;
}

.password_content .top .p_test{
    color: #F3A5AD;
    font-weight: 700;
}

.password_content .top .p_reset,
.password_content .top .p_finish{
    color: #ccc;
    font-weight: 700;
}

.password_content .top .p_finish{
    margin-left: 7px;
}

.password_content .top ul .line_one,
.password_content .top ul .line_two,
.password_content .top ul .line_three,
.password_content .top ul .line_four,
.password_content .top ul .line_five,
.password_content .top ul .line_six{
    position: absolute;
    top: 30%;
    width: 40px;
}

.password_content .top ul .line_one{
    left: 1px;
    border-bottom: 1px solid #D82335;
}

.password_content .top ul .line_two{
    left: 79px;
    border-bottom: 1px solid #D82335;
}

.password_content .top ul .line_three{
    left: 138px;
    border-bottom: 1px solid #ccc;
}

.password_content .top ul .line_four{
    left: 216px;
    border-bottom: 1px solid #ccc;
}

.password_content .top ul .line_five{
    right: 96px;
    border-bottom: 1px solid #ccc;
}

.password_content .top ul .line_six{
    right: 18px;
    border-bottom: 1px solid #ccc;
}

/* 第二步样式变化 */
.password_content .top ul .change_first{
    border-color: #D82335;
}

/* 第二步样式变化 */
.password_content .top ul .color_first{
    color: #F3A5AD;
}

/* 表单 */
.password_content .forget_form,
.password_content .forget_form_two,
.password_content .bind_finish{
    padding: 0 250px;
}

.password_content .project{
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}

.password_content .project_phone{
    color: #D82335;
    cursor: pointer;
}

.password_content .project_line{
    display: inline-block;
    width: 1px;
    height: 9px;
    margin: 0 10px;
    background-color: #bbb;
}

.password_content .project_email{
    color: #999;
    cursor: pointer;
}

.password_content .project_main{
    font-size: 12px;
}

.password_content .bl{
    border-bottom: 1px solid #ddd;
}

.password_content .lh{
    width: 5px;
    line-height: 38px;
}

.password_content .lh_t{
    width: 95px;
    line-height: 38px;
    text-align: right;
}

.password_content input{
    border: none;
}

/* 必填 */
.password_content .must{
    color: #D82335;
}

/* 获取验证码 */
.password_content .get_code{
    color: #009DD9;
}

input::placeholder{
    color: #999;
}

/* 错误提示 */
.password_content .wrong_show_phone,
.password_content .wrong_show_code,
.password_content .wrong_show_password,
.password_content .wrong_show_comfirm{
    display: none;
    margin-top: -15px;
}

.wrong_show_phone i,
.wrong_show_code i,
.wrong_show_password i,
.wrong_show_comfirm i{
    padding-left: 5px;
    color: #D82335;
}

.password_content .btn_box{
    margin-top: 30px;
}

/* 注册按钮 */
.password_content .nextStage,
.password_content .nextStage_two,
.password_content .login_again{
    width: 200px;
    height: 45px;
    border-radius: 5px;
    color: #fff;
    background-color: #D82335;
    font-size: 16px;
    cursor: pointer;
}

/* 重新登录 */
.password_content .login_again{
    border: none;
    cursor: pointer;
}

/* 点击发送验证码之后 */
.submit_disabled{
    color: #D82335!important;
    cursor: not-allowed;
}

.bind_finish{
    text-align: center;
}

.bind_finish .pic_box{
    margin-bottom: 10px;
}

.bind_finish p{
    margin-bottom: 70px;
    color: #333;
    font-size: 12px;
}

.banner_bg{
    background: url(../../images/login/banner.png) no-repeat;
}